In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Import monthly datasets
citi_01 = pd.read_csv("asset/data/201911-citibike-tripdata.csv")
citi_02 = pd.read_csv("asset/data/201912-citibike-tripdata.csv")
citi_03 = pd.read_csv("asset/data/202001-citibike-tripdata.csv")
citi_04 = pd.read_csv("asset/data/202002-citibike-tripdata.csv")

In [3]:
# Concat the multiple datasets into one dataset
citi_df = pd.concat([citi_01, citi_02, citi_03, citi_04], ignore_index = True)

In [4]:
# Display preview of dataframe
citi_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,273,2019-11-01 00:00:00.2930,2019-11-01 00:04:34.1880,237,E 11 St & 2 Ave,40.730473,-73.986724,335,Washington Pl & Broadway,40.729039,-73.994046,16773,Subscriber,1989,1
1,159,2019-11-01 00:00:03.5840,2019-11-01 00:02:43.4780,3572,34 Ave & 38 St,40.756913,-73.921631,3568,34 St & 35 Ave,40.756933,-73.926223,26411,Subscriber,1980,2
2,967,2019-11-01 00:00:06.2670,2019-11-01 00:16:14.0990,334,W 20 St & 7 Ave,40.742388,-73.997262,529,W 42 St & 8 Ave,40.757570,-73.990985,35155,Subscriber,1994,2
3,604,2019-11-01 00:00:21.7610,2019-11-01 00:10:25.8910,280,E 10 St & 5 Ave,40.733320,-73.995101,445,E 10 St & Avenue A,40.727408,-73.981420,19864,Subscriber,1976,2
4,153,2019-11-01 00:00:25.2060,2019-11-01 00:02:59.0180,3761,Cedar St & Myrtle Ave,40.697842,-73.926241,3846,Central Ave & Himrod St,40.696760,-73.923020,40156,Subscriber,1994,1

In [ ]:
# Export final dataset for dashboard
citi_df.to_csv("asset/data/citi_df.csv")